<style>
.admin-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1d2327;
    color: #fff;
    height: 32px;
    line-height: 2.5;
    padding: 0 10px;
}

.admin-bar > div {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

</style>
<header class="admin-bar">
    <div>
        <div><a href="/" style="color:#fff;text-decoration: none;">Store</a></div>
        <div><a href="/login?action=logout" style="color:#fff;text-decoration: none;">Logout</a></div>
    </div>
</header>