<style>
.cart a {
    text-decoration: none;
}

.cart table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #c3c4c7;
}

.cart table tr {
    border-bottom: 1px solid #c3c4c7;
}

.cart table th, td {
    padding: 4px 6px;
    border-spacing: 0;
}

.cart table td:has(a > img) {
    text-align: center;
}

.cart table a:has(img) {
    display: inline-block;
}

.cart table img {
    display: block;
    height: 50px;
    object-fit: scale-down;
}

.cart table .delete-item {
    width: 24px;
    text-align: center;
}

.cart table .subtotal-item {
    text-align: right;
    width: 80px;
}

.cart table .price-x-quantity {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.cart table tr.cart-total {
    border-top: 2px solid #bdbdbd;
}

.cart table .cart-total > td:first-child {
    font-weight: bold;
    text-align: right;
}
</style>

<form class="cart" action="/cart/update" method="post">
    <table >
        <thead>
            <tr>
                <th class="delete-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="M14.1 8.5L12 6.4L9.9 8.5L8.5 7.1L10.6 5L8.5 2.9l1.4-1.4L12 3.6l2.1-2.1l1.4 1.4L13.4 5l2.1 2.1zM7 18c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m10 0c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m-9.8-3.2c0 .1.1.2.2.2H19v2H7c-1.1 0-2-.9-2-2c0-.4.1-.7.2-1l1.3-2.4L3 4H1V2h3.3l4.3 9h7l3.9-7l1.7 1l-3.9 7c-.3.6-1 1-1.7 1H8.1l-.9 1.6z"/>
                    </svg>
                </th>
                <th>&nbsp;</th>
                <th>Product</th>
                <th class="subtotal-item">Subtotal</th>
            </tr>
        </thead>

        <tbody>
            {% set_global total = 0.00 %}
            {% for product in cart %}
            {% set subtotal = product.price * product.quantity %}
            <input type="hidden" name="id" value="{{ product.id }}">
            <tr>
                <td rowspan="2" class="delete-item">
                    <input type="checkbox" name="remove" title="Check the box to remove this item from your cart.">
                </td>
                <td rowspan="2"><a href="{{ product.permalink }}"><img src="{{ product.image.src }}" alt="{{ product.image.alt }}"></a></td>
                <td colspan="2"><span><a href="{{ product.permalink }}">{{ product.name }}</a></span></td>
            </tr>
            <tr>
                <td>
                    <div class="price-x-quantity">
                        <span>{{ product.price | round_and_format(places=2) }} €</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="black" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"/>
                        </svg>
                        <input type="number"
                            name="quantity" value="{{ product.quantity }}"
                            step="1" min="1" style="width: 50px;"
                            title="Increase or decrease quantity">
                    </div>
                </td>
                <td class="subtotal-item"><span>{{ subtotal | round_and_format(places=2) }} €</span></td>
            </tr>
            {% set_global total = total + subtotal %}
            {% endfor %}

            <tr class="cart-total">
                <td colspan="3">Cart Total:</td>
                <td style="text-align: right;">{{ total | round_and_format(places=2) }} €</td>
            </tr>

            <tr>
                <td colspan="4" style="text-align: right;">Shipping costs are calculated during checkout.</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: right;">
                    <button type="submit">Update Cart</button>
                </td>
            </tr>
        </tfoot>
    </table>
    <a href="/checkout">Proceed to checkout</a>
</form>

