<style>
img {
    height: 50px;
    object-fit: scale-down;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #c3c4c7;
}

tr {
    border-bottom: 1px solid #c3c4c7;
}

th, td {
    padding: 4px 6px;
    border-spacing: 0;
}
</style>

<form action="/cart/update" method="post">
    <table>
        <thead>
            <tr>
                <th>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="M14.1 8.5L12 6.4L9.9 8.5L8.5 7.1L10.6 5L8.5 2.9l1.4-1.4L12 3.6l2.1-2.1l1.4 1.4L13.4 5l2.1 2.1zM7 18c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m10 0c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2m-9.8-3.2c0 .1.1.2.2.2H19v2H7c-1.1 0-2-.9-2-2c0-.4.1-.7.2-1l1.3-2.4L3 4H1V2h3.3l4.3 9h7l3.9-7l1.7 1l-3.9 7c-.3.6-1 1-1.7 1H8.1l-.9 1.6z"/>
                    </svg>
                </th>
                <th>&nbsp;</th>
                <th>Product</th>
                <th>SubTotal</th>
            </tr>
        </thead>

        <tbody>
            {% set_global total = 0.00 %}
            {% for product in cart %}
            {% set subtotal = product.price * product.quantity %}
            <input type="hidden" name="id" value="{{ product.id }}">
            <tr>
                <td rowspan="2">
                    <input type="checkbox" name="remove">
                </td>
                <td rowspan="2"><a href="{{ product.permalink }}"><img src="{{ product.image.src }}" alt="{{ product.image.alt }}"></a></td>
                <td colspan="2"><span><a href="{{ product.permalink }}">{{ product.name }}</a></span></td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    <span>{{ product.price | round_and_format(places=2) }} €</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="black" d="M6.4 19L5 17.6l5.6-5.6L5 6.4L6.4 5l5.6 5.6L17.6 5L19 6.4L13.4 12l5.6 5.6l-1.4 1.4l-5.6-5.6z"/>
                    </svg>
                    <input type="number" name="quantity" value="{{ product.quantity }}" step="1" min="1" style="width: 50px;">
                </td>
                <td style="text-align: right;"><span>{{ subtotal | round_and_format(places=2) }} €</span></td>
            </tr>
            {% set_global total = total + subtotal %}
            {% endfor %}

            <tr>
                <td colspan="3" style="text-align: right;">Cart Total:</td>
                <td style="text-align: right;">{{ total | round_and_format(places=2) }} €</td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: right;">
                    <button type="submit">Update Cart</button>
                </td>
            </tr>
        </tfoot>
    </table>
    <a href="/checkout">Proceed to checkout</a>
</form>

