<style>
table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #c3c4c7;
    margin: 0 auto;
}

table tr > td {
    padding: 4px;
}

table tr > td:last-child {
    text-align: right;
}

.addresses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
</style>
<section>
    <h2>Order Details</h2>

    <ul>
        <li>
            <span>Order Number:</span>
            <span>#{{ number }}</span>
        </li>
        <li>
            <span>Date:</span>
            <span>2024-07-31</span>
        </li>
        <li>
            <span>Email:</span>
            <span>{{ order.billing.email }}</span>
        </li>
        <li>
            <span>Total:</span>
            <span>{{ order.total | round_and_format(places=2) }} €</span>
        </li>
        <li>
            <span>Payment Method:</span>
            <span>{{ order.payment_method_title }}</span>
        </li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% set_global order_subtotal = 0.00 %}
            {% for line_item in order.line_items %}
            <tr>
                <td>{{ line_item.name }} x {{ line_item.quantity }}</td>
                <td>{{ line_item.total | round_and_format(places=2) }} €</td>
                {% set_global order_subtotal = order_subtotal + line_item.total %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Subtotal:</td>
                <td>{{ order_subtotal | round_and_format(places=2) }} €</td>
            </tr>
            <tr>
                <td>Payment method:</td>
                <td>{{ order.payment_method_title }}</td>
            </tr>
            <tr>
                <td>Shipping:</td>
                <td>{{ order.shipping_total | round_and_format(places=2) }} €</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">{{ order.total | round_and_format(places=2) }} €</td>
            </tr>
            {% if order.customer_note != "" %}
            <tr>
                <td>Note:</td>
                <td>{{ order.customer_note }} €</td>
            </tr>
            {% endif %}
        </tfoot>
    </table>

    <div class="addresses">
        <div class="billing">
            <h3>Billing Data</h3>
            <address>
                {{ order.billing.first_name }} {{ order.billing.last_name }}<br>
                {{ order.billing.address }}<br>
                {{ order.billing.postcode }} {{ order.billing.city }}<br>
                {{ order.billing.country_code }}<br>
                {{ order.billing.email }}<br>
                {{ order.billing.phone }}
            </address>
        </div>
        <div class="shipping">
            <h3>Shipping Address</h3>
            <address>
                {{ order.shipping.first_name }} {{ order.shipping.last_name }}<br>
                {{ order.shipping.address }}<br>
                {{ order.shipping.postcode }} {{ order.shipping.city }}<br>
                {{ order.shipping.country_code }}
            </address>
        </div>
    </div>

</section>