<!DOCTYPE html>
<html lang="en">
<head>
    {% include "backend/partials/head.html" %}
<style>

.media-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.media-list li {
    width: calc((100% / 8) - 10px);
    height: 160px;
    flex-grow: 1;
}
.media-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

</style>
</head>
<body>
    {% include "backend/partials/topbar.html" %}

    <main style="display:flex;flex-direction:row;flex-wrap:nowrap;margin-top:32px;">
        <div id="sidebar">
            {% include "backend/partials/sidebar.html" %}
        </div>
        <div id="workspace">
            <ul class="media-list">
            {% for media in library %}
                <li>
                    <input id="media-{{ media.id }}" type="checkbox" name="id" value="{{ media.id }}">
                    <label for="media-{{ media.id }}">Select</label>
                    <img src="{{ media.src }}" alt="{{ media.alt }}" />
                </li>
            {% endfor %}
            </ul>
        </div>
    </main>
</body>
</html>
