{% import "backend/macros.html" as macros %}
<style>
.list-items .total {
    text-align: right;
}

.badge-status {
    background-color: #e0e0e0;
    padding: 2px 6px;
    border-radius: 5px;
}

.badge-pending {
    background-color: #ffab91;
}

.badge-on-hold {
    background-color: #ffe082;
}
</style>

<a href="/admin/orders/new" class="add-new-item-btn">Add New</a>

{% if orders | length == 0 %}
    <span class="alert">There are no orders to process!</span>
{% else %}
    {{ macros::backend_pagination(url="/admin/orders", total=total_orders) }}

    <table class="list-items orders">
        <thead>
            <th><input type="checkbox"></th>
            <th>Order</th>
            <th>Date</th>
            <th>Customer</th>
            <th class="total">Total</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td><input type="checkbox"></td>
                <td><a href="/admin/orders/{{ order.id }}">#{{ order.id }}</a></td>
                <td>{{ order.date_created }}</td>
                <td>{{ order.customer_name }}</td>
                <td class="total">{{ order.total | round_and_format(places=2) }} €</td>
                <td><span class="badge-status badge-{{ order.status | lower }}">{{ order.status | capitalize }}</span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}