{% import "backend/macros.html" as macros %}
<style>
table.list-items img {
    display: block;
    max-width: 40px;
    max-height: 40px;
}

table.list-items .thumbnail {
    text-align: center;
    width: 50px;
}

table.list-items .thumbnail > img {
    display: block;
    max-width: 40px;
    max-height: 40px;
}

table.list-items .name {
    font-weight: bold;
    text-decoration: none;
}

table.list-items .stock {
    font-weight: bold;
}

table.list-items .stock.instock {
    color: green;
}

table.list-items .stock.outofstock {
    color: red;
}

table.list-items .stock.backorder {
    color: gray;
}

table.list-items .price {
    display: flex;
    flex-direction: column;
}

table.list-items .price > .on-sale {
    text-decoration: line-through;
    font-size: 0.95em;
}
</style>

<a href="/admin/products/new" class="add-new-item-btn">Add New</a>

{% if products | length == 0 %}
    <span class="alert">The product catalog is empty!</span>
{% else %}

    {{ macros::backend_pagination(url="/admin/products", total=total_products) }}

    <table class="list-items products">
        <thead>
            <th><input type="checkbox"></th>
            <th class="thumbnail">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="black" d="M19 5v14H5V5zm0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2m-4.86 8.86l-3 3.87L9 13.14L6 17h12z"/>
                </svg>
            </th>
            <th>Name</th>
            <th>SKU</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Date</th>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><input type="checkbox"></td>
                <td class="thumbnail"><a href="/admin/products/{{ product.id }}"><img src="{{ product.image_src }}" alt="{{ product.image_alt }}"></a></td>
                <td class="name"><a class="row-title" href="/admin/products/{{ product.id }}">{{ product.name }}</a></td>
                <td>{{ product.sku }}</td>
                <td>{% if product.stock_status == "instock" %}
                    <span class="stock instock">In stock</span>
                    {% elif product.stock_status == "outofstock" %}
                    <span class="stock outofstock">Out of stock</span>
                    {% else %}
                    <span class="stock backorder">On backorder</span>
                    {% endif %}
                    ({{ product.stock_quantity }})
                </td>
                <td class="price">
                    <span {% if product.on_sale %}class="on-sale"{% endif %}>{{ product.regular_price | round_and_format(places=2) }} €</span>
                    {% if product.on_sale %}
                        <span>{{ product.sale_price | round_and_format(places=2) }} €<span>
                    {% endif %}
                </td>
                <td>{{ product.status | capitalize }}<br />{{ product.date_created }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}