<ul class="menu">
    <li>
        <a href="/admin">Dashboard</a>
    </li>
    <li>
        <a href="/admin/media">Media</a>
    </li>
    <li>
        <a href="#">Store</a>
        <ul>
            <li><a href="/admin/orders">Orders</a></li>
            <li><a href="#">Customers</a></li>
        </ul>
    </li>
    <li>
        <a href="/admin/products">Products</a>
        <ul>
            <li><a href="/admin/products">All Products</a></li>
            <li><a href="/admin/products/new">Add New</a></li>
            <li><a href="/admin/categories">Categories</a></li>
        </ul>
    </li>
    <li>
        <a href="/admin/users">Users</a>
    </li>
</ul>
