<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../assets/css/frontend.css?v=20240080904">
</head>
<body>

    {% include 'frontend/partials/header.html' %}

    <main style="padding: 20px;">
    {% if partial == "order_details" %}
        {% include 'frontend/partials/order_details.html' %}
    {% else %}
        {% if cart | length > 0 %}
            {% if partial == "cart" %}
                {% include 'frontend/partials/cart.html' %}
            {% elif partial == "checkout" %}
                {% include 'frontend/partials/checkout.html' %}
            {% endif %}
        {% else %}
            <h2>Your cart is currently empty.</h2>
            <p>
                Before proceed to checkout you must add some products to your shopping cart.<br />
                You will find a lot of interesting products on our "Shop" page.
            </p>
        {% endif %}
    {% endif %}
    </main>

    {% include 'frontend/partials/footer.html' %}
</body>
</html>