<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="assets/css/store.css?v=2024060220">

<style>
#login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 160px;
    align-items: flex-start;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #c3c4c7;
}
</style>
</head>
<body>

    <main>
        <div>
            <form id="login" method="post" action="/login">
                {% if alert %}
                <span class="alert">{{ alert }}</span>
                {% endif %}
                <label for="user">Username:</label>
                <input id="user" type="text" name="user" placeholder="user" value="demo@example.com" required>
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" placeholder="password" minlength="8" value="123456789" required>
                <input type="submit" name="submit" value="Log in" style="align-self: self-end;">
            </form>
        </div>
    </main>

    {% include 'partials/footer.html' %}
</body>
</html>