<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="assets/css/frontend.css?v=2024080901">

<style>
fieldset {
    width: 160px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #7a7a7a;
}
fieldset > #login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    background-color: #fff;
}
</style>
</head>
<body>

    <main>
        <div style="padding: 20px;">
            <a href="/" style="display:block;text-align:center;padding: 20px 0 10px 0;">
                <img src="/assets/images/logo.png" alt="logo" style="width:auto;height:60px;">
            </a>
            <fieldset>
                <legend>Login</legend>
                <form id="login" method="post" action="/login">
                    {% if alert %}
                    <span class="alert">{{ alert }}</span>
                    {% endif %}
                    <label for="user">Username:</label>
                    <input id="user" type="text"
                        name="user" value="demo@example.com"
                        placeholder="user" required>
                    <label for="password">Password:</label>
                    <input id="password" type="password"
                        name="password" value="12345678"
                        placeholder="password" minlength="8" required>
                    <input type="submit"
                        name="submit" value="Log in"
                        style="align-self: self-end;">
                </form>
            </fieldset>
        </div>
    </main>

    {% include 'frontend/partials/footer.html' %}
</body>
</html>